@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse-slow {

  0%,
  100% {
    transform: scale(1);
    opacity: 0.8;
  }

  50% {
    transform: scale(1.05);
    opacity: 1;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 3s infinite ease-in-out;
}